/* 
    Padding, margin
    1 valor - todos
    2 valores - em cima, em baixo
    4 valores - em cima, dir, em baixo, esqu
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* elements (tags) */
h3 {
    padding-bottom: 10px;
}
p {
    margin-top: 10pt;
    font-size: 14pt;
    font-family: initial;
    text-align: left;
}
/* structure (element tags) */
body {
    background-color: rgb(235, 235, 235);
}
header {
    text-align: center;
    width: 100%;
    height: 50px;
    color: white;
    background-color: brown;
}
header img {
    position: absolute;
    left: 50px;
    width: 80px;
    height: 50px;
}
header span {
    margin-top: 30px;
    vertical-align: middle;
    line-height: 50px;
}
nav {
    text-align: center;
    width: 100%;
    padding: 10px;
    color: brown;
    background-color: wheat;
}
nav span {
    font-weight: bold;
    vertical-align: middle;
    padding-right: 50px;
}
main {
    width: 85%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin: 20px auto;
    height: 600px;
}
footer {
    color:white;
    height: 50px;
    text-align: center;
    padding: 10px;
    background-color: black;
}
footer span {
    line-height: 50px;
}
/* classes */
.content {
    text-align: center;
}
.content img {
    width: 80%;
    height: 300px;
    border-radius: 15px;
}
